{% extends 'basic.html' %}
{% block content %}

<div class="jumbotron">
  

{% if form_type == 'soil_genie' %}
  <h1 class='display-4'>Soil: {{ soil_type_result }}</h1>
  <ul class="list-group">
    <p class="lead">Cultivation to Opt for:</p>
    {% for crop in crop_list %}

      <li class="list-group-item">{{ crop }}</li>
    {% endfor %}
  </ul>
{% elif form_type == 'crop_genie' %}
<h1 class='display-4'>Crop: {{ crop_option_result }}</h1>
<ul class="list-group">
  <p class="lead">Soils to Opt for:</p>
  {% for soil in soil_list %}

    <li class="list-group-item">{{ soil }}</li>
  {% endfor %}
</ul>
{% elif form_type == 'fertilizer_genie'%}
  <h1 class='display-4'>Crop: {{ crop_option_result }}</h1>
  <h1 class='display-4'>Soil: {{ soil_type_result }}</h1>

    <blockquote class="blockquote" ><p><em>{{ compatibility_string }}</em></p></blockquote>
    <p class="lead">Advice from Agro-Genie:</p>
    <ul class="list-group">
    {% for message in messages_advice %}

      <li class="list-group-item">{{ message }}</li>
    {% endfor %}
    </ul>
    <p class="lead">Some Points from Agro-Genie:</p>
    {% for point in points_advice %}

      <li class="list-group-item">{{ point }}</li>
    {% endfor %}

{% else %}
<h1>{{form_type}}</h1>
{% endif %}



</div>

{% endblock %}
