{% extends 'basic.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="Display-4">Welcome to the Agro-Genie!</h1>
  <p class='lead'>Here to help with choices of crops according to your soil conditions and vice-versa!</p>
</div>

<div class="row" style="padding-bottom: 40px;">
  <div class="column" style="width: 50%; background-color: rgba(217, 217, 217,0.7);border-radius:5px; padding:5px;">
    <h2 class='display-4' style="text-align: center;">Soil for Crop</h2>
    <form method="POST">
    {{ form_soil.hidden_tag() }}
    {{ form_soil.soil_type.label(class_="h4 lead")}}
    <br>
    {{ form_soil.soil_type(class_="btn-lg btn-group btn-secondary",style='width:80%;') }}
    {{ form_soil.submit(class_="btn btn-light") }}
    </form>
  </div>


  <div class="column" style="width: 50%; background-color: rgba(217, 217, 217,0.7);border-radius:5px; padding:5px;">
    <h2 class='display-4' style="text-align: center;">Crop for Soil</h2>
    <form method="POST">
    {{ form_crop.hidden_tag() }}
    {{ form_crop.crop_option.label(class_="h4 lead")}}
    <br>
    {{ form_crop.crop_option(class_="btn-lg btn-group btn-secondary",style='width:80%;') }}
    {{ form_crop.submit(class_="btn btn-light") }}
    </form>
  </div>

</div>
{% endblock %}
